<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.squalala.dzbac"
    android:versionCode="4"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />


   <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <!--   <uses-feature android:name="android.hardware.camera" android:required="false" /> -->
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
 <!--   <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/> -->

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>


  <!--  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
   <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!--  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PROFILE"/>



    <application
        android:name=".DjihtiApp"
        android:allowBackup="true"
        android:backupAgent=".data.MyBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/MyAppTheme"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateHidden">

        <provider android:authorities="com.facebook.app.FacebookContentProvider768513439884976"

            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIox2zzp7IwAiFQjYhz32lj_lfzVC16fD0sqXnJw" />


        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />


        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />


        <activity android:name=".ui.player.PlayerActivity2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleInstance"
            android:label="@string/app_name"
            android:theme="@style/PlayerTheme">
        </activity>


        <activity
            android:name=".ui.filepicker.MultimediaPickerActivity"
            android:label="nonr"
            android:theme="@style/SampleThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.list_followers.ListFollowerActivity"
            android:theme="@style/AppThemeNoActionBar">
        </activity>

        <activity
            android:name=".ui.filtre.DisplayUsersActivity"
            android:label="@string/recherche"
            android:theme="@style/AppThemeNoActionBar">
        </activity>

        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/myTheme"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity android:name=".ui.sms_verification.SmsVerificationActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/verification"/>

        <activity android:name=".ui.payement.PayementActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>

        <activity android:name=".ui.tags_selection.TagSelectionActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>

        <activity android:name=".ui.friends.FriendsActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>


        <activity android:name=".ui.sms_verification.SmsVerificationErrorActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/verification"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:theme="@style/FilePickerTheme"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".ui.splash.PreSplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:theme="@style/AppTheme"
            android:name="nl.changer.polypicker.ImagePickerActivity" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomHeaderLight"
            >
        </activity>

        <activity
            android:name=".ui.main.MainMyItemActivity"
            android:label="@string/mes_posts" >
        </activity>

        <activity
            android:name=".ui.sign.SignActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/inscription_" >
        </activity>

        <activity
            android:name=".ui.show_conversation.ShowConversationActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.list_conversation.ListConversationActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/titre_vos_conversations" >
        </activity>

        <activity
            android:name=".ui.notifications.NotificationActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/titre_vos_notifications" >
        </activity>

        <activity
            android:name=".google.GoogleManagerActivity"
            android:label="@string/google_plus_" >
        </activity>


        <activity
            android:name=".ui.full_imageview.ViewPagerActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="" >
        </activity>

        <activity
            android:name=".ui.comment.CommentaryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/titre_commentaires" >

        </activity>

        <activity
            android:name=".ui.comment.CommentPhotoActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/titre_commentaires" >

        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.add_item.AddPostActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.squalala.dzbac.ui.filtre.FiltreItemActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/filtre" >
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/connexion" >
        </activity>

        <activity
            android:name=".ui.show_item.ShowAnnonceActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="" >
        </activity>

        <activity
            android:name=".ui.show_profile.ShowProfileActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.edit_profile.EditProfileActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/titre_edition_profile" >
        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>



        <service android:name="com.squalala.dzbac.service.GcmIntentService" />
        <service android:name="com.squalala.dzbac.service.DownloadService"/>
        <service android:name="com.squalala.dzbac.service.DownloadImageService"/>

        <receiver
            android:name="com.squalala.dzbac.broadcastreceiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.squalala.dzbac" />
            </intent-filter>
        </receiver>


        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
   dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name=".broadcastreceiver.DigitsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.digits.sdk.android.UPLOAD_COMPLETE"/>
                <action android:name="com.digits.sdk.android.UPLOAD_FAILED"/>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="io.fabric.ApiKey"
            tools:replace="android:value"
            android:value="6f377b8362270aff08ae0c11138e5ccf688249d1" />


        <meta-data
            android:name="com.digits.sdk.android.ConsumerKey"
            android:value="YsUhaTVMmMFsbIKRPm9MP98Xg"/>
        <meta-data
            android:name="com.digits.sdk.android.ConsumerSecret"
            android:value="ifeIzaixE7nkUi6eXv04vLdzunYqFvB4XGfUxd6L47LINXWHEG"/>



    </application>

</manifest>